.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1c98d;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header-nav li {
  display: inline;
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.header-nav a:hover {
  color: #d9b37d;
}
