.home {
    padding: 20px;
  }
  
  .home input {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 1rem;
  }
  
  .home ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home li {
    margin: 10px 0;
  }